

button {
    margin-top: 8px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(167, 167, 212);
}

 h1 {
    font-weight:  bolder;
    text-align: center;
  }  

body {
    background: #9c1e0d;
    height: 100vh;
    overflow-y: auto;
  }

  .title {
    position: relative;
    background-color: #ecc30b;
    color: yellow;
    display: flex;
    justify-content:space-between;
    all: unset;
    gap: 50%;
    padding: 217px;
    height: 60px;
    width: 650px
  }
  

  card {
    background-color: #ecc30b;
  }

  .page {
    flex: row;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin-left: 400px;
}





