

button {
    margin-top: 8px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: midnightblue;
}



 h1 {
    font-weight:  bolder;
    text-align: center;
  }  

.loader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    margin: 0 0 0 30%;
}

* {
    margin: 1;
    padding: 1;
    box-sizing: box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #1e06a583;
    height: 100vh;
    overflow-y: auto;
  }

header {
    position: fixed;
    top: 0;
    Left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition:  0.5s;
}

.banner {
    position: relative;
    width: 100%;
    height: 1vh;

}

header.sticky .logo,
header.sticky ul li a {
    color:#007bff
}


